* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cardo", serif;
  background-color: #f8f8f8;
  color: #0d0d0d;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

hr {
  border-style: dotted none none;
  border-width: 4px;
  border-color: #026873;
}

li {
  margin-left: 1rem;
}

/* Algemene styling */

.link-icon {
  color: #f28705;
  margin-right: 1rem;
}

.hr-small-display{
  border-width: 2px;
  border-color: #0396A6;
  margin: 0 0 .5rem 0;
}

/* Progress BAR */
.schuif-lijst {
  margin-bottom: 0.5rem;
}

.schuif {
  padding-top: 0.25rem;
}
.progress {
  height: 0.5rem;
}
.progress-bar {
  background-color: #f28705;
}

/* HEADER */

.header {
  background-color: #026873;
  color: #f8f8f8;
  padding: 1.5rem;
}
.header-cv {
  font-family: "Cardo", serif;
}
.header-name {
  font-size: 5.125rem;
  margin: 0 -0.4rem 0 0;
}
.header-bd {
  align-self: flex-end;
  margin-bottom: 1.5rem;
}

.header-block {
  display: flex;
  margin-bottom: 1.5rem;
}

.header-img {
  width: 285px;
  height: 285px;
  margin: 1rem;
  padding: 1rem;
}

.header-icon {
  color: #f28705;
  font-size: 1.5rem;
  width: 1.5rem;
}
.header-icon-row{
  margin-bottom: 2rem;
}

.header-link {
  color: #f8f8f8;
  display: block;
}
.header-link:hover {
  color: #f28705;
}
.header-address {
  margin: 0;
}
.header-titles {
  text-align: left;
}

.header-address, .header-link{
  margin-bottom: .8rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-cv {
    font-size: 1.5rem;
  }
  .header-name {
    font-size: 2rem;
  }
  .header-img {
    width: 185px;
    height: 185px;
  }
  .header-icon {
    margin-right: 1.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-titles{
    
  }
  .header-cv {
    font-size: 2rem;
  }
  h2.header-cv{
    display: flex;
    align-content: center;
  }
  .header-name {
    font-size: 2.5rem;
  }
  .header-img {
    width: 185px;
    height: 185px;
  }
  .header-icon {
    margin-right: 0.5rem;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-cv {
    font-size: 2.5rem;
  }
  .header-name {
    font-size: 3rem;
  }
  .hr-small-display{
    display: none;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-name {
    font-size: 4rem;
  }
  .header-img {
    width: 285px;
    height: 285px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-name {
    font-size: 5.125rem;
    margin-left: -0.4rem;
  }
}
/* OLD CSS HEADER */

.header-row {
  width: 82%;
  margin: 0 auto;
}
.header-col-1 {
  text-align: end;
  align-self: center;
}
.header-data {
  margin-bottom: 1.5rem;
}

/* MAIN SECTION */
.main-section {
  width: 80%;
  margin: 0 auto;
}
.main-header {
  font-size: 2rem;
  color: #0d0d0d;
  padding-top: 2rem;
}

.main-icon {
  color: #026873;
  padding-right: 1rem;
}

/* Kennis */
.kennis-list {
  list-style: none;
}

.kennis-link {
  color: #0d0d0d;
}

.kennis-link:hover {
  color: #f28705;
}

/* HOBBY */

.hobby-rij {
  text-align: center;
  align-self: center;
}
.hobby-icon {
  height: 75px;
  width: 75px;
  margin: 1rem;
  filter: invert(0%) sepia(3%) saturate(1185%) hue-rotate(33deg)
    brightness(103%) contrast(90%);
}

.hobby-icon:hover {
  filter: invert(57%) sepia(97%) saturate(1085%) hue-rotate(350deg)
    brightness(91%) contrast(110%);
}

/* FOOTER */
#footer {
  text-align: center;
  margin: 5rem 0;
}

.footer-icon {
  color: #026873;
  font-size: 2rem;
  margin: 1.5rem 1rem;
}

.footer-icon:hover {
  color: #f28705;
}
.footer-copyright {
  margin-top: 2rem;
}
